@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* overflow:hidden;  */
}

#NavB {

    background-color: #633608;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 4;
    position: sticky;
    top: 0;
}

.NavBar {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    position: sticky;
    padding: 0;
}

.NavBar a {

    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavBar a h5 {
    margin: 0 1rem;
    font-size: 1rem;
    color: white;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavBarSearch a {

    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavBarSearch a h5 {
    margin: 0 1rem;
    font-size: 1rem;
    color: white;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono-menu {
    height: 2rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 80px;
}

li {
    height: 100%;
    width: 140px;
    margin: 0;
    padding: 0;
    float: left;
    /* height: 80px; */
    background-color: #633608;
}

li a {
    margin: 0;
    height: 100% !important;
    color: #fff;
    text-decoration: none;
    padding: 14px 12px;
    display: block;
    /* background-color: red; */
}

li a:hover {
    margin: 0;
    height: 80px;
    background-color: #B19168;
}

li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

li:hover>ul {
    display: block;
}

li ul li {
    position: relative;
}

.contenedor-cards {
    height: auto;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 32%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagen-card {
    height: 100%;
    width: 30%;
    /* background-image: url(./Images/pan1.svg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
}

.card-info {
    width: 60%;
    padding: 1rem 1rem;
}

.card-titulo {
    height: auto;
}

.resena {
    margin-top: 1.2rem;
    font-size: .9rem;
    line-height: 1rem;
}

.categorias {
    display: flex;
}

.etiqueta {
    margin-right: .5rem;
    padding: 0 .5rem 0 .8rem;
    background-color: #d32339;
    width: auto;
    height: 1rem;
    color: white;
    font-size: .6rem;
    font-weight: 300;
    border-radius: 1rem 0 0 1rem;
}

.calificacion {
    margin-top: .6rem;
    display: flex;
    justify-content: space-between;
}

.estrella {
    background-image: url(./Images/estrellas.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1rem;
    width: 20%;
    height: 2.2rem;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 400;
}

.hero-fondo {
    background-image: url(./Images/pan.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    height: 16vw;

}

.hero-detalle-fondo {
    /* background-image: url(./Images/pan.svg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    height: 16vw;

}



#hero {
    display: flex;
    justify-content: center;

}

.NavBarSearch {
    /* background-color: blue;  */
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
}

.search {
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 0 2rem;
    align-items: center;
    background-color: #B19168;

}

.search nav {
    background-color: #B19168;
}

.search-li {
    width: 30%;
    background-color: #B19168;
}

.search-li a:hover {
    background-color: #633608;
}

.search input {
    padding: .8rem 1rem;
    width: 80%;
    height: 2.5rem;
    border: none;
    background-color: rgba(255, 255, 255, .8);
}

.search button {
    height: 2.5rem;
    background-color: rgba(255, 255, 255, .8);
    border: none;
}

.ul-search {
    width: 80%;
    background-color: blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detalle-caja {
    /* background-color: blue; */
    height: 6rem;
    width: 80%;
    margin: 0 10%;
    position: relative;
    top: -4rem;
    display: flex;
    justify-content: space-between;

}

#hero-detalle {
    display: flex;
    justify-content: center;
    height: auto;
}

.detalle-titulo {
    height: 100%;
    width: 60%;
    background-color: #B19168;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.detalle-titulo h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: white;
    font-weight: 400;
}

.detalle-caja button {
    border: none;
    background-color: #B19168;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenido-detalle {
    position: relative;
    top: -2rem;
    background-color: whitesmoke;
    height: auto;
    margin: 0 10%;
    height: auto;
    width: 80%;
    padding: 2rem 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}

.detalle-subtitulo {
    display: flex;
    justify-content: space-between;
}

.info-detalle {
    width: 57%;
    height: 100%;
    /* background-color: yellow; */
    padding: 0 2rem;
}

.detalle-direccion {
    margin-left: 3%;
    width: 40%;
    display: block;
    height: auto;
    /* background-color: violet; */
}

.info-detalle p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.calificacion-detalle {
    margin-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.estrella-detalle {
    background-image: url(./Images/estrellas.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1rem;
    width: 20%;
    height: 2.2rem;
}

.detalle-direccion-titulo {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-opcion{
    padding-top:10px;
    /* background-color:red; */
    height:88px!important;
    top:0;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}

.menu-opcion a{
    width:100%;
}